/* font poppins */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,500;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
}
/* commont style */
body{
  font-family: 'Poppins', sans-serif;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column; 
}
/* header section start */

header{
  width: 1200px;
  height: 646px;
  background-color: black;
  border-radius: 40px;
  margin:30px 0 144px 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title{
  color: #ffffff;
  width: 531px;
  height: 424px;
  padding: 30px;

}
.title-text{
 margin: 0;
 font-size: 70px;
 font-weight: 700;
}
.banner-button a {
  text-decoration: none;
  display: inline-block;
  padding: 16px 25px;
  background-color:  #DD0000;
  border-radius: 5px;
  color: #ffffff;
}
 #span{
 margin-left: 20px;
}
.banner-section{
 margin-left: 24px;
}
.banner-section img{
  width:581px;
  height:613px; 
  padding-bottom: 0;
}
/* header end */
article{
  display: flex;
  margin:0 20px 130px 20px;
  width: 1200px;
}
 aside{

  width:252px;
  margin:20px 0 ;
  border-radius: 20px;
  height: 252px;
  padding: 30px;
  background-color: black;
}
aside a{
  width: 100%;
  text-decoration: none;
  color:black;
  background-color:aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  padding: 15px 2px;
  border-radius: 5px;
  display: block;
  font-size: 20px;
} 
#blog-color{
  background-color: crimson;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:8px;
}
.macth-all{
  display: flex;
  align-items: center;
  justify-content: center;
  width:312px;
  height: 242px;
  border-radius: 20px;
  text-align: center;
 border:1px solid #cb7272;
}
.macth-all span{
  padding: 0 10px;
}
.macth-all h3 ,p{
 margin: 10px 0 ;
}
/* button only tab */
.tab-button a{
  background-color: #DD0000;
  text-align: center;
  text-decoration: none;
  padding:12px;
  display: none;
}

/* footer sectito */
footer{
  margin-top: 30px;
  width: 100%;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.848);
}
.center-aling h1{
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 100px;
}
hr{
  border: 0.5px solid whitesmoke;
  margin: 50px 0;
}
nav,ul, li{
 display: flex;
 justify-content: space-evenly;
 padding: 3px 30px;
 font-size: 12px;
}
nav a{
  text-decoration: none;
  color: bisque;
}

.socile-icon{
  display: flex;
  justify-content: center;
  color: floralwhite;
}
.socile-icon .fa-brands {
  margin: 25px;
  padding: 5px 30px;
  background-color: rgba(70, 60, 60, 0.557);

}
@media only screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  header{
    height: auto;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 30%;
  }
  .title h1{
    text-align: center;
    font-size: 40px;
  }
  .title p{
    text-align: center;
  }
  .title a{
  text-align: center;
  margin: 20px 30% 0 30%;
  }
  .banner-section{
    margin-bottom: -20px;
  }

  article{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 30%;
  }
  aside{
    margin-left: 32%;
    display: block;
  }
  .center-aling{
    display: flex;
    flex-direction: column;
   }
   .center-aling h1{
     padding-top:20px;
   }
   hr{
     margin: 0;
   }
   nav ,ul ,li{
     display: flex;
     flex-direction: column;
     text-align: center;
   }
   .footer-button{
     display: flex;
     justify-content: center ;
     margin-top: 16px;
     font-size: 14px;
   }
   .socile-icon{
   display: none;
   }
}
/* tab section */
@media only screen and (min-width:577px) and (max-width:992px) {
  main{
    overflow: hidden;
    display: block;
    width: 100%;
    background-color:#ffffff;
  }
  .container{
    display:flex;
    justify-content: center;
    align-items: center;
  }  header{
    width: 734px;
   }
   .title-text{
    font-size:40px;
    font-weight: 700;
   }
   .title-ditails{
    font-size: 14px;
    margin:10px 0 20px 0;
   }
.title{
  width: 50%;

}
  
 .banner-section img{
   width: 100%;
   margin-bottom: -155px ;
 } 
   aside{
    display:flex;
    width: 80%;
    background-color: #27159e9b;
    justify-content: space-evenly;
    border-radius: 2px;
    flex-direction: row;
    height: 100px;
    margin-bottom: 30px;
   }
   aside a{
    padding:5px 20px;
    margin: 10px;
    width: 300px;
  
   }
   aside a:hover{
    border: 2px solid red;
   }
  .macth-all{
    display: grid;
    grid-template-columns: repeat(2,fr);
  }
  .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
article{
  width: 80%;
  display: block;
  justify-content: center;
}
.tab-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  }
  
  .tab-button a{
    display: inline-block;
    background-color: #DD0000;
    text-align: center;
    text-decoration: none;
    padding:12px 20px;
    color: #ffffff;
  } 
footer{
  width: 100%;
  height: 30vh;
}
.center-aling h1{
padding: 70px;
}
hr{
margin: 5px;
}
nav , ul ,li{
margin:5px 0 ;
display: flex;
flex-wrap: wrap;
}
nav ,ul ,li ,a{
justify-content: space-around;
}

}




