/* font poppins */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,500;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
}
/* commont style */
body{
  font-family: 'Poppins', sans-serif;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column; 
}
/* header section start */

header{
  width: 1200px;
  height: 646px;
  background-color: black;
  border-radius: 40px;
  margin:30px 0 144px 0;
}
.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title{
  color: #ffffff;
  width: 531px;
  height: 424px;
  padding: 30px;

}
.title-text{
 margin: 0;
 font-size: 70px;
 font-weight: 700;
}
.banner-button a {
  text-decoration: none;
  display: inline-block;
  padding: 16px 25px;
  background-color:  #dd0000a5;
  border-radius: 5px;
  color: #ffffff;
}
 #span{
 margin-left: 20px;
}
.banner-section{
 margin-left: 24px;
}
.banner-section img{
  width:581px;
  height:613px; 
  margin-bottom:-155px;
}
/* header end */
article{
  display: flex;
  margin:0 20px 130px 20px;
  width: 1200px;
}
aside{
  display:flex;
  margin-right: 20px;
  flex-direction: column;
  width: 332px;
  height: 252px;
  border-radius: 20px;
  padding: 0 30px; 
  background-color: black;
}
aside a{
  text-decoration: none;
  color:black;
  background-color:aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  padding: 5px 2px;
  border-radius: 5px;
  display: block;
  font-size: 20px;
}
#blog-color{
  background-color: rgb(245, 0, 49);
  border: 2px solid palevioletred;
  text-shadow: 5px 5px 10px;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:8px;
}
.macth-all{
  border-radius: 20px;
  height: 362px;
  box-shadow: 5px 2px 8px;
}
.macth-img{
  width: 312px;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
}
.macth-dtl{
  padding: 20px;
}
.macth-dtl a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  border: 1px solid black;
  padding: 0 20px;
  border-radius: 5px;
}
.macth-dtl h3{
  margin-top: 10px;
  font-size: 18px;
}
.icon-style{
  display: flex;
  margin-top: 30px;

}
.icon-gap{
  margin-left: 40px;
}
/* button only tab */
.tab-button{
  display: none; 
}
.tab-button a{
  background-color: #DD0000;
  text-align: center;
  text-decoration: none;
  padding:12px 20px;
  color: #ffffff;

}

/* footer sectito */
footer{
  margin-top: 50px;
  width: 100%;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.848);
}
.center-aling h1{
  display: flex;
  justify-content: center;
  color: whitesmoke;
  padding-top: 100px;
}
hr{
  border: 0.5px solid whitesmoke;
  margin: 50px 0;
}
nav,ul, li{
 display: flex;
 justify-content: space-evenly;
 padding: 3px 30px;
 font-size: 12px;
}
nav a{
  text-decoration: none;
  color: bisque;
}
.socile-icon{
  display: flex;
  justify-content: center;
  color: floralwhite;
}
.socile-icon .fa-brands {
  margin: 25px;
  padding: 5px 30px;
  background-color: rgba(215, 106, 106, 0.657);

}
/* 
             Media queries Resposive     
----------------------------------------------*/
/* -------------------------------
header section  mobile 
---------------------------------*/

@media only screen and (max-width:576px) {
  body{
    background-color: #ffffff;
    overflow-x:hidden;
  }
  header{
    width: 90%;
    height: auto;
    margin: 20px 20px 0 20px;
  }
  .containers{
    grid-template-columns: repeat(1,1fr);
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
  }
  .containers h1{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .containers h1,p{
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .macth-img{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .title-ditails{
    display: flex;
    justify-content: center;
    margin:50px 20% 0 20% ;
    font-size: 18px;
    justify-items: center;
   width: 60%;
 
  }
 .banner-button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
 }
  .banner-section img{
    margin-top: 40px;
    margin-bottom: -40px;
   width: 100%;
  }
  .icon-gap{
   margin: 0 -0px 0 -39px;
  }
  aside{
    margin: 26px 0 ;
  }
  /* ---------------------------
  article section
-------------------------------- */
article{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  flex-direction: column;
  width: 90%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.macth-all{
  margin-top:10px;
  border-radius: 15px;
}
  .center-aling{
   display: flex;
   flex-direction: column;
  }
  .center-aling h1{
    padding-top:20px;
  }
  hr{
    margin: 0;
  }
  nav ,ul ,li{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-button{
    display: flex;
    justify-content: center ;
    margin-top: 16px;
    font-size: 14px;
  }
  .socile-icon{
  display: none;
  }
  
}
/* media tab */
@media only screen and (min-width:577px) and (max-width:992px) {
  main{
    overflow: hidden;
    display: block;
    width: 100%;
    background-color:#ffffff;
  }
  header{
  width: 734px;
 }
 .title-text{
  font-size:40px;
  font-weight: 700;
 }
 .title-ditails{
  font-size: 14px;
  margin:10px 0 20px 0;
 }
 .banner-section img{
  width: 100%;
 } 

 aside{
  display:flex;
  width: 80%;
  background-color: #27159e9b;
  justify-content: space-evenly;
  border-radius: 2px;
  flex-direction: row;
  height: 100px;
  margin-bottom: 30px;
 }
 aside a{
  padding:5px 20px;
  margin: 10px;
  width: 300px;

 }
 aside a:hover{
  border: 2px solid red;
 }
.macth-all{
  display: grid;
  grid-template-columns: repeat(2,fr);
}
.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

article{
  width: 80%;
  display: block;
  justify-content: center;
}
/* tap button */
.tab-button{
display: flex;
justify-content: center;
align-items: center;
}
}
.tab-button a{
  display: inline-block;
  background-color: #DD0000;
  text-align: center;
  text-decoration: none;
  padding:12px 20px;
  color: #ffffff;

}
 footer{
    width: 100%;
    height: 30vh;
  }
.center-aling h1{
  padding: 70px;
}
hr{
  margin: 5px;
}
nav , ul ,li{
  margin:5px 0 ;
  display: flex;
  flex-wrap: wrap;
}
nav ,ul ,li ,a{
  justify-content: space-around;
}


