/* font poppins */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,500;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
}
/* commont style */
body{
  font-family: 'Poppins', sans-serif;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column; 
}
/* header section start */

header{
  width: 1200px;
  height: 646px;
  background-color: black;
  border-radius: 40px;
  margin:30px 0 144px 0;
}
.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title{
  color: #ffffff;
  width: 531px;
  height: 424px;
  padding: 30px;

}
.title-text{
 margin: 0;
 font-size: 70px;
 font-weight: 700;
}
.banner-button a {
  text-decoration: none;
  display: inline-block;
  padding: 16px 25px;
  background-color:  #DD0000;
  border-radius: 5px;
  color: #ffffff;
}
 #span{
 margin-left: 20px;
}
.banner-section{
 margin-left: 24px;
}
.banner-section img{
  width:581px;
  height:613px; 
  padding-bottom: 0;
}
/* header end */
article{
  display: flex;
  margin:0 20px 130px 20px;
  width: 1200px;
}
aside{
  width:252px;
  margin:20px 0 ;
  border-radius: 20px;
  height: 252px;
  padding: 30px;
  background-color: black;
}
aside a{
  width: 100%;
  text-decoration: none;
  color:black;
  background-color:aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  padding: 15px 2px;
  border-radius: 5px;
  display: block;
  font-size: 20px;
}
#blog-color{
  background-color: crimson;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:8px;
}
.macth-all{
   /* width: 300px; */
  border-radius: 20px;
  height: 362px;
  box-shadow: 5px 2px 8px;
}
.macth-img{
  width: 312px;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
}
.macth-dtl{
  padding: 20px;
}
.macth-dtl a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  border: 1px solid black;
  padding: 0 20px;
  border-radius: 5px;
}
.macth-dtl h3{
  margin-top: 10px;
  font-size: 18px;
}
.icon-style{
  display: flex;
  margin-top: 30px;

}
.icon-gap{
  margin-left: 40px;
}
/* footer sectito */
footer{
  margin-top: 50px;
  width: 100%;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.848);
}
.center-aling h1{
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 100px;
}
hr{
  border: 0.5px solid whitesmoke;
  margin: 50px 0;
}
nav,ul, li{
 display: flex;
 justify-content: space-evenly;
 padding: 3px 30px;
 font-size: 12px;
}
nav a{
  text-decoration: none;
  color: bisque;
}
/* 
             Media queries Resposive     
----------------------------------------------*/
/* -------------------------------
header section  mobile 
---------------------------------*/

@media only screen and (max-width:576px) {
  body{
    background-color: #bb3c3c;
  }
  header{
    width: 90%;
    height: auto;
    margin: 20px 20px 0 20px;
  }
  .containers{
    grid-template-columns: repeat(1,1fr);
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
  }
  .containers h1{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .containers h1,p{
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .title-ditails{
    display: flex;
    margin:0 20%;
    font-size: 18px;
    justify-items: center;
   width: 60%;
 
  }
 .banner-button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
 }
  .banner-section img{
   width: 100%;
  }
  /* ---------------------------
  article section
-------------------------------- */
article{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  flex-direction: column;
  width: 90%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  footer{
   display: flex;
   flex-direction: column;
  }
  .center-aling h1{
    padding-top:20px;
  }
  hr{
    margin: 0;
  }
  nav ,ul ,li{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-button{
    display: flex;
    justify-content: center ;
    margin-top: 16px;
    font-size: 14px;
  }
}

